#form-container{
    width: 80vw;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: center;
    padding: 20%;
}

#mensagem{
    width: 15vw;
}